<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="partials/partials.html :: head ('File Upload')">
<head>
  <meta charset="UTF-8">
  <title>Upload a File</title>
</head>
<body>

<p class="tmarg">Under Construction</p>
<!--<nav th:replace="partials/partials.html :: nav"></nav>-->
<!--<h2>Upload a File</h2>-->

<!--&lt;!&ndash;file uploader&ndash;&gt;-->
<!--<form action="/fileupload" method="POST" enctype="multipart/form-data">-->
<!--  <label for="file">Upload a file!</label>-->
<!--  <input id="file" name="file" type="file" />-->
<!--  <br />-->
<!--  <input type="submit" value="upload" />-->
<!--</form>-->

</body>
</html>