<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head ('Dice')"></head>
<body>
<nav th:replace="partials/partials.html :: nav"></nav>
<h1 class="tmarg">Roll them dice bebe</h1>
<br>
<h2 class="tmarg">Guess the result</h2>
<ul>
    <li><a href="/roll-dice/1">1</a></li>
    <li><a href="/roll-dice/2">2</a></li>
    <li><a href="/roll-dice/3">3</a></li>
    <li><a href="/roll-dice/4">4</a></li>
    <li><a href="/roll-dice/5">5</a></li>
    <li><a href="/roll-dice/6">6</a></li>
</ul>
<!--n is the guess number-->
<div th:if="${n}">
<!--    this if statement activates the div upon the existence of user guess "n"-->
    <p>You guessed <span th:text="${n}"></span> and the number rolled is a <span th:text="${roll}"></span></p>
    <p th:if="${n == roll}">You guessed correctly!</p>
    <p th:if="${n != roll}">You guessed incorrectly.</p>
</div>
</body>
</html>